@-webkit-keyframes overlay-scale {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes overlay-scale {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
body.overlay-active {
  overflow: hidden;
  position: fixed;
}
.overlay-active .overlay {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f9f9f9;
  background: rgba(255,255,255,0.98);
  text-align: center;
  z-index: 999;
  display: none;
  -webkit-overflow-scrolling:touch
}
.overlay-close {
  position: fixed;
  top: 8px;
  right: 8px;
  color: #b3b3b1;
  background: #f9f9f9;
  background: rgba(0,0,0,0);
  padding: 4px;
  margin: 0;
  border: 0;
  outline: none;
  font: 500 24px/1 "Helvetica Neue", sans-serif;
}
.overlay-close:hover {
  cursor: pointer;
}
.overlay-container {
  max-width: 680px;
  min-height: 100%;
  margin: 0 auto;
  padding: 60px 10px;
  box-sizing: border-box;
  -webkit-animation: overlay-scale 0.2s ease-in-out;
  animation: overlay-scale 0.2s ease-in-out;
}
